.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

section {
  width: fit-content;
  min-width: 300PX;
  padding: 50px;

}

ul {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-item {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}
.selected {
  background-color: lightgray;
}

.name {
  max-width: 125px;
  min-width: 125px;
}

.form-field {
  margin: 5px;
  display: flex;
  align-items: center;
  height: 30px;
}

.form-input {
  border-radius: 5px;
  padding: 5px;
}

.label {
  min-width: 60px;
}

form {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.action-btns-container {
  margin-top: 20px;
  display: flex;
}
